#### Product Classifier

In [72]:
import numpy as np
import pandas as pd
import sklearn
print(sklearn.__version__)

0.21.3

In [4]:
file_categories = "data/categories.xlsx"
file_labeled = "data/training_data.xlsx"
file_unlabeled = "data/data_to_classify.xlsx"

In [20]:
df_categories = pd.read_excel(
    io=file_categories,
    sheet_name=0,
    encoding='utf-8',
    header=None,  # 0 - first row is header
    names=['category'],  # we will not change column names
    index_col=None,  # take all columns
    skiprows=None, nrows=None, skipfooter=0,
    squeeze=False, dtype=None, engine=None, converters=None,
    true_values=None, false_values=None, na_values=None, keep_default_na=True,
    verbose=False, parse_dates=False,
    # date_parser=None
    thousands=",", comment=None, convert_float=True, mangle_dupe_cols=True
)

In [25]:
print(f"columns: {df_categories.columns.tolist()}")
print(f"row count: {len(df_categories)}")
df_categories.head()

columns: ['category']
row count: 63

                  category
0               Headphones
1                   Cables
2  Security & Surveillance
3          Streaming Media
4   Television Accessories

In [32]:
df = pd.read_excel(
    io=file_labeled,
    sheet_name=0,
    encoding='utf-8',
    header=0,  # 0 - first row is header
    names=None,  # we will not change column names
    index_col=None,  # take all columns
    skiprows=None, nrows=None, skipfooter=0,
    squeeze=False, dtype=None, engine=None, converters=None,
    true_values=None, false_values=None, na_values=None, keep_default_na=True,
    verbose=False, parse_dates=False,
    # date_parser=None
    thousands=",", comment=None, convert_float=True, mangle_dupe_cols=True
)

In [33]:
print(f"columns: {df.columns.tolist()}")
print(f"row count: {len(df)}")
df.head()

columns: ['ASIN', 'CategoryName', 'BrandName', 'Title', 'ImageUrl']
row count: 6034

,ASIN,CategoryName,BrandName,Title,ImageUrl
0,B014FCC4NO,Headphones,01 Audio,"Bluetooth Headphones, Wireless Earbuds Earphon...",http://ecx.images-amazon.com/images/I/31KpP1yO...
1,B00RE20CVO,Cables,1byone,1Byone Lightning to USB Cable 3.28ft (1M) for...,http://ecx.images-amazon.com/images/I/31cldYZD...
2,B00HEZV6AC,Security & Surveillance,1byone,1byone? 7 Inch Colorful LCD Screen Video Doorb...,http://ecx.images-amazon.com/images/I/41by3Sjc...
3,B00ZWOU5R2,Streaming Media,1byone,1byone 5GHz Wireless HDMI Streaming Media Play...,https://images-na.ssl-images-amazon.com/images...
4,B00RFLXE0A,Television Accessories,1byone,1byone Shiny Antenna Super Thin Amplified HDTV...,http://ecx.images-amazon.com/images/I/314oPMta...

In [201]:
col = df["Title"]

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english')
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
print(X.shape)

['document', 'second']
(4, 2)

In [14]:
vectorizer.inverse_transform(X)

[array(['document'], dtype='<U8'),
 array(['second', 'document'], dtype='<U8'),
 array([], dtype='<U8'),
 array(['document'], dtype='<U8')]

In [15]:
print(X)

  (0, 0)	1.0
  (1, 1)	0.6166684570284895
  (1, 0)	0.78722297610404
  (3, 0)	1.0